@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0}
body{font-size:14px;font-family: "Microsoft Yahei";line-height:1.5;
/*background: #f6f8f8;*/}

/*左边栏*/

.navbar-fixed-left {
	transition: width .2s;
	position: fixed;
	height: 100%;
	background-color: #f6f8f8;
}

.side-nav-expanded {
	width: 290px;
}

#main-nav-left .panel{
	border-radius: 2px;
}
.panel-heading{
	padding: 0px 15px;
}
.panel-heading span.glyphicon{
	padding: 0px 6px;
	line-height: 1.5em;
	font-size: 24px;
}
.panel-heading span{
	vertical-align:middle;
	font-size: 17px;
}

.navbar-fixed-left .panel-group .panel{
	height: 40px;
	box-shadow: 0 0 1px #999;
}
.side-nav-collapsed {
	width: 70px;
}


.icon-caption {
	margin: 0 0 0 30px;
}







